.layout {
  display: grid;
  grid-template-columns: 230px 1fr;
  min-height: 100vh;
  max-width: 850px;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 980px) {
  .layout {
    grid-template-columns: 300px 1fr 300px;
    max-width: 2000px;
  }
}
@media screen and (max-width: 450px) {
  .layout {
    grid-template-columns: 100px 1fr;
  }
}
